@import url('./blocks/header.css');

html {
	position: relative;
	min-height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

input, textarea {
	width: 100%;
	border: none;
	outline: none;
}

textarea {
	resize: none;
	height: 90px;
}

.wrapper {
	position: relative;
	min-width: 1200px;
	min-height: 100%;
	height: auto!important;
	overflow: hidden;
}

.wrapper:after {
	content: '';
	height: 75px;
	display: block;
	padding-bottom: 75px,
}

.container {
	width: 1180px;
	height: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}